---
layout: layout.njk
---
<p><a href="/blog/"> < back </a></p>
<h1 style="text-align: center;"><i> {{ title }} </i></h1>
<p>Date: {{ date | date }} <br> Description: {{ description }}</p>

<hr>

{{ content | safe }}

<hr>
<p>tags: {{ tags }} </p>
