---
title: About ME
layout: layout.njk
---
<h1>aboot moi</h1>
<p class="text-left"> → <b>~</b> cat about_me.md</p>
<p>
    original description:
        <blockquote class="card">
        I make things on the internet sometimes. I decided to start this site as a way to catalogue things i make and as a sort of way to motivate myself when working on personal projects.

        this was first written on 20/06/2020 at 19:17 on the longest day of the year. its quite nice outside.

        please enjoy whatever this site has to offer.
        </blockquote>
    this site has gone thru many changes!! we are on about version <s>4.0</s> 5.0 at this point.
</p>
<p>hello!! i am ace, a 20y.o. from wales. i have been online from an age of which i probably shouldnt have been.</p>
<p>i am queer and furry and still kind of wondering what my pronouns are but, for now they/them is comfortable for me. will keep this updated :3</p>
<p>feel free to get in contact with me for any reason!!! i love to meet new people, im available at <b>justace0(at)proton(dot)me</b>.</p>

<h1>systems</h2>
<p>i have two main systems that i run daily for different purposes!!!</p>
<div id="systems">
    <div class="card">
        <h2>Laptop</h2>
        <p>Model: Lenovo Ideapad 5</p>
        <p>RAM: 8GB DDR4 3200MHz</p>
        <p>CPU: AMD Ryzen 5 4500U with Radeon Graphics (6) @ 2.375GHz</p>
        <p>Storage: M.2 256GB </p>
        <p>OS: Arch Linux (KDE Plasma)</p>
    </div>
    <div class="card">
        <h2>Desktop</h2>
        <p>Motherboard: ?</p>
        <p>CPU: AMD Ryzen 5 3600x(?)</p>
        <p>GPU: AMD Radeon RX 7700XT</p>
        <p>RAM: 32GB DDR4 3200MHz</p>
        <p>Storage: M.2 1TB, HDD 4TB</p>
        <p>OS: Arch Linux (KDE Plasma)</p>
    </div>
</div>

<h1>interests</h1>
<p class="text-left"> → <b>~</b> cat interests.md</p>
<p class="text-left" style="text-align: left;">
    here are a few things that i love::
    <ul class="text-left">
        <li>oss</li>
            <ul>
                <li>arch linux</li>
                <li>godot</li>
                <li>LÖVE</li>
            </ul>
        <li>music, listening + making<br>
            my top artists:</li>
            <ul>

                <li>car seat headrest</li>
                <li>vylet pony</li>
                <li>gtbsg sbe</li>
                <li>talking heads</li>
                <li>underscores</li>
                <li>los campesinos!</li>
            </ul>
        <li>computer science</li>
            <ul>(currently studying for a BA)</ul>
        <li>plants</li>
            <ul>(hopefully will have a page about them soon..)</ul>
        <li>pixel grfx</li>
        <li>books</li>
            <ul>
                <li>terry pratchett, discworld goated. (going postal is my favourite book rn)</li>
                <li>currently reading: the color of magic by terry pratchett</li>
                <li>ok thats about it rn im trying to get back into reading slowly. i used to read like a demon as a child.</li>
                <li>other recent favourites have been bicycle diaries - david byrne, and crying in h mart - michelle zauner</li>
            </ul>
        <li>games</li>
            <ul>
                <li>outer wilds</li>
                <li>animal well</li>
                <li>FAITH</li>
                <li>ultrakill</li>
                <li>celeste</li>
                <li>disco elysium</li>
                <li>minecraft (especially modded)</li>
                <li>adastra (dont @ me :3)</li>
            </ul>
        <li>tv</li>
            <ul>
                <li>cowboy bebop</li>
                <li>twin peaks - <i><b>fix your hearts or die!!!!</b></i></li>
                <li>over the garden wall</li>
                <li>dont hug me im scared</li>
                <li>aunty donna's big ol house of fun</li>
            </ul>
        <li>unfiction/web series horror</li>
            <ul>
                <li>shipwrecked 64</li>
                <li>alantutorial</li>
                <li>petscop</li>
                <li>local 58</li>
                <li>the hypnagogic archive</li>
                <li>fnaf vhs</li>
            </ul>
        <li>graff</li>
        <li>film</li>
            <ul>
                <li>jordan peele</li>
                <li>david lynch (favs: twin peaks, eraserhead, fwwm)</li>
                <li>hausu</li>
                <li>hayao miyazaki (favs: spirited away, the boy and the heron, princess mononoke)</li>
                <li>the daniels (swiss army man, eeaao)</li>
                <li>bong joon-ho (favs: PARASITE!!, memories of murder, but they are all really good my fav director)</li>
                <li>who killed captain alex</li>
            </ul>
        <li>balls</li>
    </ul>

</p>

<h1>credits</h1>
<p class="text-left"> → <b>~</b> cat credits</p>
<p>Colours are from the EDG32 pallette by <a href="https://twitter.com/ENDESGA">ENDESGA</a> which can be found on <a href="https://lospec.com/palette-list/endesga-32">lospec!</a> as well as colours from <a href="https://lospec.com/palette-list/resurrect-64">resurrect 64</a></p>
<p>ace blinkie template created by <a href="https://graphics-cafe.tumblr.com/">amy</a></p>
<p>various background gifs (and all around great tools and advice) from <a href="https://goblin-heart.net/sadgrl/webmastery/downloads/tiledbgs">sadgrl</a></p>

<p class="text-left"> → <b>~</b> <blinking></blinking></p>
</div>
