---
title: cool site buttons
layout: layout.njk
---
<div>
    <h1>buttons</h1>

    <h2>my button</h2>
    <p>please add my button! (hotlinking allowed :])<br>if you do, let me know so i can add you right back :)</p>
    <a href="https://accalia.dev"><img src="https://accalia.dev/static/images/acebutton.gif"></a>
    <br>
    <textarea rows="2" readonly=""><a href="https://accalia.dev"><img src="https://accalia.dev/static/images/acebutton.gif"></a></textarea>

    <h2>button wall</h2>
    <p>various websites and places i like or have taken inspiration from. please browse!</p>

    <div>
        <a href="https://jbc.lol"><img src="https://jbc.lol/imgs/buttons/jbtn.svg" alt="jb's site" style="image-rendering: pixelated;"/>
        <a href="https://blinkies.cafe" target="_blank"><img src="https://64.media.tumblr.com/a465a8b97e43cd473688643cdd84de8b/fedd605843107efc-a3/s540x810/d4ed9266cfe96c634dc1c955ff7adf4ad18bb68f.gif" alt="blinkies.cafe | make your own blinkies!"></a>
        <a href="https://vinizinho.net" target="_blank"><img src="/static/images/vin.png" alt="vinisite"></a>
        <a href="https://dimden.dev/"><img src="https://dimden.dev/services/images/88x31.gif"></a>
        <a href="https://joo.sh/" target="_blank"><img src="https://files.joo.sh/img/buttons/jooshRice.gif"></a>
        <a href="https://nekoweb.org/" target="_blank"><img src="https://files.joo.sh/img/buttons/nekoweb.gif"></a> <!-- button by joosh.nekoweb.org -->
        <a href="https://districts.nekoweb.org/" target="_blank"><img src="/static/images/districts002.png"></a>
        <a href="https://wavcat.nekoweb.org/"><img src="https://wavcat.nekoweb.org/neko_button.gif"></a>
    </div>
</div>
