---
title: HELLO!!!!!!!!!!!!
layout: layout.njk
---
<div>
    <h1>HELLO!!! WELCOmE</h1>
    <p>welcome to the website of the century, the decad,e the year and that. good fun website for fun people (like me and you! you and i? one of those)</p>
    <p>i have recently redone all this <i>*gestures widely*</i> for like the 11tyth time and i think its my favourite iteration.</p>
    <img src="/static/images/dithered-image(3).jpg" style="width: 100%;"
</div>
