---
title: links n drinks (no drinks)
layout: layout.njk
---

<p><h1>linkz</h1> <br><i>various links where you can find me when i remember i have internet access</i></p>
<br>
<p><a href="https://aace.nekoweb.org">website</a></p>
<p><a href="https://aace.bearblog.dev/blog/">bearblog</a></p>
<p><a href="https://bsky.app/profile/acezz.bsky.social">bluesky</a></p>
<p><a href="https://www.last.fm/user/JustAce0">lastfm</a></p>
<p><a href="https://rateyourmusic.com/~itsjustace">rym</a></p>
<p><a href="https://discord.com/users/343789944696864769">discord</a></p>
<p><u><b><h1>music</h1></b></u></p>
<p style="margin-bottom: 0px;"><a href="https://retraace.bandcamp.com/">retraace</a></p>
<p style="margin-top: 0px;"><i>(albums of no noteworthy content)</i></p>
<p><a href="https://soundcloud.com/bldkttl">boiled kettle</a><i><br>(various experiments)</br></i></p>