---
title: now
layout: layout.njk
---

<h1>now.</h1>
<p><i>(inspired by <a href="https://www.nownownow.com/about">nownownow.com</a>)</i></p>
<p>last updated aug 2025</p>
<hr>
<p>as of july, i moved back home from university to take a break from studies to fully comprehend an adult ADD diagnosis. 
    i spend my time with my partner and work on furthering my web development skills, using this website! i hope to start freelancing soon, perhaps work on some new projects.
    <br>
    ive gotten into taking care of plants a lot more, as im propogating more and also taking care of a colony of woodlice.
</p>