---
title: updates dododo
layout: layout.njk
---
<h1>updates</h1>
<p>this is where i write about changes to the site and things i do differently now. actual site changes plus things ive learnt</p>

<div class="card">
    <h2>bloggin</h2>
    <p class ="small">17/08/2025</p>

    <p>added my blog! decided to go with putting it on my website than an external source. also finally have github repo up and running and (fingers crossed) can start automating some deployment tasks.</p>
</div>

<div class="card">
    <h2>plannin</h2>

    <p class="small">15/08/2025</p>

    <p>added a todo list page of things i wanna get done in the future!! any suggestions as always hmu
</div>


<div class="card">
    <h2>music stoof</h2>

    <p class="small">14/08/2025</p>

    <p>added lastfm log to the left so you can see what i last listened to!! (probably furry shit lets be real here)</p>
    <p>plus added some new buttons! check it</p>
    <p>also an image to sort of help with the blank on the home page. bless dithering. as well as a not found page! so no longer an unstylised eyesore! now its a stylised eyesore!</p>
</div>

<div class="card">
    <h2>new site layout!</h2>
    <p class="small">13/08/2025</p>

    <p>kinda new everything tbh. its cool.</p>
    <p>added a new navbar style, overhaul of some css stuff. icons included!
        <br>added a new page for buttons! including moving how to hotlink mine to there.
        <br>added minecraft style splash text to the navbar, check it out by refreshing and see if you catch any references to nerd shit!
    </p>
    <p>in other workflow related changes, i switched from vscode to zed for now. maybe permanently, maybe not.  i was struggling with ram consupmtion due to a LOT of webbrowsing on my laptop (and me stupidly a few years ago buying this laptop with ram soldered into its board)
</div>
